# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# =========================
# .NET / ASP.NET Core
# =========================
bin/
obj/
.vs/

# Rider / VS Code
.idea/
.vscode/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates
