@model IReadOnlyList<ExpenseTracker.ViewModels.MenuItemViewModel>

@if (Model.Count == 0)
{
    <li class="nav-item">
        <span class="nav-link text-muted">No menu items</span>
    </li>
}
else
{
    foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" href="@item.Url">@item.Title</a>
        </li>
    }
}
